<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <title>Pay my buddy</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="p-10">
    <div th:insert="~{menu}"></div>

    <form th:action="@{/transfer}" th:object="${transactionCreateRequest}" method="post">
        <label class="flex justify-around my-30 gap-10">
            <select class="border-2 border-gray-200 rounded px-5 flex-1" name="receiverId">
                <option value="">Sélectionner une relation</option>
                <option th:each="connection : ${connections}" th:value="${connection.id}" th:text="${connection.username}"></option>
            </select>
            <input class="border-2 border-gray-200 rounded px-5 flex-2" type="text" name="description" placeholder="Description" />
            <input class="border-2 border-gray-200 rounded px-5 w-25 flex-none" type="number" name="amount" min="0" step=".01" placeholder="0.00" />
            <input type="submit" value="Payer" class="bg-blue-500 hover:bg-blue-700 rounded-sm py-3 px-5 text-white text-center cursor-pointer transition-all duration-100 ease-in-out"/>
        </label>
        <ul class="text-red-500" th:if="${errorMessages}">
            <li th:each="msg : ${errorMessages}" th:text="${msg}"></li>
        </ul>
        <p class="text-green-500" th:if="${status != null && !status.isEmpty()}">La transaction a bien été effectuée.</p>
    </form>


    <div class="border border-gray-200 rounded p-5">
        <p class="font-bold" th:text="${'Mon compte : ' + account + '€'}"></p>
        <p class="font-bold">Mes Transactions</p>
        <table class="table-auto w-full text-left leading-[2.5]">
            <thead class="font-medium">
                <tr>
                    <th>Relations</th>
                    <th>Description</th>
                    <th class="text-right">Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t-2 border-gray-200 py-5" th:each="transaction : ${transactions}">
                    <td th:text="${transaction.relationName}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td class="text-right" th:classappend="${transaction.amount > 0 ? 'text-green-500' : 'text-red-500'}" th:text="${transaction.amount > 0 ? '+' : ''} + ${transaction.amount} + '€'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>